/**
 * @authors ZiQiangWang (814120507@qq.com)
 * @date    2017-07-12 17:19:14
 */

@import 'variable.less';
@import 'icomoon.css';

.markdown-editor {

  // 设置盒模型
  .border-box;

  // 设置编辑器的字体
  .editor-font;
  
  display: flex;

  overflow: hidden;
  position: relative;
  
  // 工具栏显示
  .toolbar {
    position: fixed;
    right: 0;
    bottom: 4%;
    z-index: 1000;
  }

  // 响应式变化
  @media screen and (min-width: 961px){
    .toolbar {
      #pc {
        display: block;
      }
      #mobile{
        display: none;
      }
    }
  }
  @media screen and (max-width: 960px){
    .toolbar {
      #pc {
        display: none;
      }
      #mobile{
        display: block;
        position: relative;
        left: -50%;
        bottom: -100%;
      }
    }

    flex-direction: column !important;
  }
  
  // 控制编辑部分和预览部分的显示
  .disappear {
    display: none;
  }
  
  .hidden-nav {
    height: 0 !important;
  }
  // 编辑部分和预览部分的工具栏
  .preview-toolbar,
  .markdown-bar {
      height: 48px;
      width: 100%;
      z-index: 50;
      line-height: 48px;
      overflow: hidden;
      background-color: #444;
      box-shadow: 0 1px 1px rgba(0,0,0,.2); 
      transition: height .5s;

    .inner-bar {
      padding: 0 20px;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      height: 100%;
      width: calc(~"100% + 18px");
      flex-wrap: wrap;
    }
  }

  // 实时预览部分
  .preview-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    // 预览主界面
    .preview {
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(~"100% - 48px");
      padding: 10px 20px 10px 20px;
      border: @borderColor;
      
      // markdown解析出来的结构，做样式调整
      blockquote {
        color: #666;
        margin: 1em 0;
        padding: 5px 10px;
        border-left: 10px #D6DBDF solid;
        background-color: rgba(102,128,153,.05);
        h1, h2, h3, h4, h5, h6, p {
          margin: 4px;
        }
      }

      pre {
        line-height: 1.5em;
        background-color: rgba(102,128,153,.05);
        box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1) inset, 45px 0 0 rgba(102, 128, 153, 0.05) inset, 0 1px 0 rgba(102, 128, 153, 0.05);
        > ol {
          margin-left: 5px;
          > li {
            padding-left: 10px;
          }
        }
      }

      table {
        margin: 1em 0;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        thead>tr>th,tbody>tr>td{
          padding: 8px;
          border: 1px solid #ddd;
        }
        tbody>tr:nth-child(even){
          background-color: hsla(0,0%,71%,.1);
        }
      }
    }
  }
  // 编辑器部分
  .editor-container {
    width: 100%;
    height: 100%;
    overflow:hidden;
    
    .ReactCodeMirror {
      height: calc(~"100% - 48px");
    }
    .CodeMirror {
      height: 100%;
      border: @borderColor;
      .CodeMirror-lines {
        padding-left: 10px;
        .CodeMirror-gutter-wrapper {
          left: -42px !important;
        }
      }
      .CodeMirror-scroll, .CodeMirror-sizer, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber {
        box-sizing: content-box !important;
      }
    }
  }
}
