/**  
 * @authors ZiQiangWang (814120507@qq.com)
 * @date    2017-07-06 21:44:36
 * @version $Id$
 */

@headerDuration: .5s;

@borderColor: thin solid lightgray;


.editor-font () {
  font-size: 16px;
  h1,h2,h3,h4,h5,h6,p,span {
    font-family: "Segoe UI",Arial,Helvetica,"Microsoft Jhenghei","Hiragino Sans GB","WenQuanYi Zen Hei","Microsoft Yahei",SimHei,STHeiti,"WenQuanYi Micro Hei",sans-serif;
    word-break: break-word;
  }
}

.border-box () {
  box-sizing: border-box;
  *, *:before, *:after {
      box-sizing: inherit;
  }
}

@color-gray: rgb(187, 187, 187);
@color-bluegray: rgba(102, 128, 153, 0.45);
@color-orange: rgb(255,82,82);
